@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    --tw-bg-opacity: 1;
    background-color: rgb(24 24 27 / var(--tw-bg-opacity));
}

::-webkit-scrollbar { width: .6rem }
::-webkit-scrollbar-thumb { background-color: rgb(243 244 246); border-radius: .5rem }
::-webkit-track { background-color: #1F292D}